.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header-top-wrapper{
  width: 100%;
  background-color: #4285f4;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.header-icons {
  display: flex;
  gap: 10px;
}

.header-contact {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.header-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header-logo img {
  width: 260px;
  height: 70px;
}

.header-nav {
  display: flex;
  gap: 20px;
}

.header-nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.header-nav a:hover {
  color: #4285f4;
}

.header-phone {
  display: flex;
  align-items: center;
  color: #000;
}

.header-phone .icon {
  font-size: 24px;
}
