.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header-top-wrapper {
  width: 100%;
  background-color: #4285f4;
  color: white;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.header-icons {
  display: flex;
  gap: 10px;
}

.header-contact {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  flex-wrap: wrap;
}

.header-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1 1 100%;
}

.header-logo img {
  width: 260px;
  height: 70px;
}

.header-nav {
  display: flex;
  gap: 20px;
  flex: 1 1 100%;
  justify-content: center;
  margin-top: 10px;
}

.header-nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.header-nav a:hover {
  color: #4285f4;
}

.header-phone {
  display: flex;
  align-items: center;
  color: #000;
  flex: 1 1 100%;
  justify-content: center;
  margin-top: 10px;
}

.header-phone .icon {
  font-size: 24px;
}

.mobile-hidden{
  display: none;
}

@media (min-width: 768px) {
  .header-main {
    flex-wrap: nowrap;
  }

  .header-logo, .header-nav, .header-phone {
    flex: unset;
    justify-content: unset;
    margin-top: 0;
  }

  .header-logo {
    flex: 0 0 auto;
  }

  .header-nav {
    flex: 1 1 auto;
  }

  .header-phone {
    flex: 0 0 auto;
  }

  .mobile-hidden{
    display: block;
  }
}
